<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Spring Custom Context Example</display-name>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>com.spring.servlet.ResourceDispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>namespace</param-name>
            <param-value>ProductsServletContext</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>



</web-app>